<h1> we got cookies! </h1>
<%= @oatmeal.name %>
<%= @oatmeal.price %>

<% @events_data.each do |event| %>
<p><%= event['name']['text'] %></p><br>
<img src="<%= event['logo']['url'] %>">
<p> <%= event['description']['text'] %></p>
<% end %>
