
<section>
  <div class="container-fluid">
    <h1 class="bname">Muffins</h1>
  </div>
</section>

    <div class="container">
      <div class="row">


        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/bmuffin.jpg" alt="Card image cap">
            <div class="card-body">
              <h4> <%= @blue.name %></h4> - <h6><%= @blue.price %></h6>
              <p class="card-text"><%= @blue.description %></p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/orcran.jpeg" alt="Card image cap">
            <div class="card-body">
              <h4> <%= @orcran.name %></h4> - <h6><%= @orcran.price %></h6>
              <p class="card-text"><%= @orcran.description %></p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/banana.jpeg" alt="Card image cap">
            <div class="card-body">
              <h4> <%= @banana.name %></h4> - <h6><%= @banana.price %></h6>
              <p class="card-text"><%= @banana.description %></p>
           </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
